
# where to write logging data.
systemLog:
  destination: file
  logAppend: true
  path: /home/rahata/apps/mongodb/data/logs.log
#path: C:\dev\apps\mongodb\data\logs.log
#path: /Users/tul90/dev/apps/mongodb/data/logs.log

# how the process runs
processManagement:
  fork: true  # fork and run in background
  pidFilePath: /home/rahata/apps/mongodb/data/mongod.pid  # location of pidfile
#pidFilePath: C:\dev\apps\mongodb\data\mongod.pid  # location of pidfile
#pidFilePath: /Users/tul90/dev/apps/mongodb/data/mongod.pid  # location of pidfile


# Where and how to store data.
storage:
  dbPath: /home/rahata/apps/mongodb/data/db
#  dbPath: C:\dev\apps\mongodb\data\db
#  dbPath: /Users/tul90/dev/apps/mongodb/data/db


#mongod --dbpath C:\dev\apps\mongodb\data\db
#mongod --config C:\dev\apps\mongodb\mongod.config
#mongod --repair --dbpath /Users/tul90/dev/apps/mongodb/data/db
#mongod --config /Users/tul90/dev/apps/mongodb/mongod.config
#mongod --repair --dbpath /home/rahata/apps/mongodb/data/db
#mongod --config /home/rahata/apps/mongodb/mongod.config
